body {
	font-family: "Raleway",serif;
}
.counter {
	position: absolute;
	top: calc(40% - 250px);
	left: 200px;
	transform: translate(-25%,-25%);
	font-size: 25px;
}
.cashflow {
	position: absolute;
	top: calc(40% - 195px);
	left: 200px;
	transform: translate(-50%,-25%);
	font-size: 8px;
}
.coin {
	position: absolute;
	top: 40%;
	left: 200px;
	transform: translate(-50%,-50%);
}
.coin img {
	max-width: 300px;
	max-height: 300px;
}
#navBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: #222;
	z-index: 100;
}
#timeDisplay {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: monospace,serif;
	font-size: 20px;
}
#businessMenu {
	position: absolute;
	top: 110px;
	right: 100px;
	background: #222;
	padding: 25px;
}
#businessMenu ul {
	list-style: none;
}
#usernameDisplay {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
}
#logoutDisplay {
	color: #fff;
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
	text-decoration: none;
}
#BG {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
#quote {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
}