body {
	font-family: "Raleway",serif;
}
.counter {
	position: absolute;
	top: calc(40% - 250px);
	left: 200px;
	transform: translate(-25%,-25%);
	font-size: 25px;
}
.cashflow {
	position: absolute;
	top: calc(40% - 195px);
	left: 200px;
	transform: translate(-50%,-25%);
	font-size: 8px;
}
.coin {
	position: absolute;
	top: 40%;
	left: 200px;
	transform: translate(-50%,-50%);
}
.coin button img {
	max-width: 300px;
	max-height: 300px;
}
#navBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: #222;
}
#timeDisplay {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: monospace,serif;
	font-size: 20px;
}
#flowMenu {
	position: absolute;
	top: 110px;
	right: 100px;
	background: #0aa;
	padding: 25px;
}
#flowMenu ul {
	list-style: none;
}